{% extends 'base.html' %}

<!-- Переопределение заголовка страницы -->
{% block title %}Главная страница{% endblock %}

<!-- Добавление дополнительных стилей -->
{% block extra_css %}
    <style>
       .header {color: #ff8100 !important;}
    </style>
{% endblock %}

<!-- Основной контент страницы -->
{% block content %}
    <!-- Заголовок страницы -->
    <div class="px-4 mb-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis header">Лента новостей</h1>
    </div>

    <!-- Список новостей -->
    <ul class="news-list mb-4">
        {% for item in page_obj %}
        <li>
            <div class="card">
                <img src="{{ item.image.url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.short_text }}</p>
                    <a href="/news/{{ item.id }}" class="btn btn-success">Перейти к новости</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->
    <div class="pagination d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- Кнопка "Предыдущая страница" -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                <!-- Номера страниц -->
                {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                        <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endfor %}

                <!-- Кнопка "Следующая страница" -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}