{% extends 'base.html' %}

<!-- Переопределение заголовка страницы -->
{% block title %}{{ news.title }}{% endblock %}

<!-- Добавление дополнительных стилей -->
{% block extra_css %}
    <style>
        body {
            /*background-image: url(https://veratis.ru/upload/iblock/4dc/3ut3vloe7fx5qy1b6c5hybwuc259bgz0.jpg);
            background-position: 50% 50%;
            color: black;*/
        }
        .text {
            column-count: 3;
            column-gap: 3em;
        }
    </style>
{% endblock %}

<!-- Основной контент страницы -->
{% block content %}
    <!-- Навигационная цепочка -->
    <nav>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active">{{ news.title }}</li>
        </ul>
    </nav>

    <!-- Заголовок новости -->
    <h1>{{ news.title }}</h1>

    <!-- Автор новости -->
    <p>{{ news.author }}</p>

    <!-- Краткое описание новости -->
    <p>{{ news.short_text }}</p>

    <!-- Изображение новости -->
    <img src="{{ news.image.url }}" class="img-thumbnail mb-3" style="max-width:50%">

    <!-- Полный текст новости -->
    <div class="text mb-3">{{ news.text }}</div>

    <!-- Теги новости -->
    <p>
    {% for tag in news.tags.all %}
        <a href="/tags/{{ tag.slug }}"><span class="badge text-bg-light">{{ tag.name }}</span></a>
    {% endfor %}
    </p>
{% endblock %}